{
  "version": "#VERSION#",
  "project_name": "#PROJECT_NAME#",
  "project_description": "#PROJECT_DESCRIPTION#",
  "company_name": "#COMPANY_NAME#",
  "author": "#AUTHOR#",
  "main_file": "#MAIN_FILE#",
  "icon": "#ICON#",
  "version_filename": "#VERSION_FILE#",
  "output_folder": "#OUTPUT_FOLDER#",
  "include_files": {
    "files": #INCLUDE_FILES#,
    "folders": #INCLUDE_FOLDERS#
  },
  "packages": #PACKAGES#,
  "includes": #INCLUDES#,
  "excludes": #EXCLUDES#,
  "compilation": {
    "console": #CONSOLE#,
    "compiler": "#COMPILER#"
  },
  "upload": {
    "repo_destination": "#REPO_DESTINATION#",
    "repo_endpoint": "#REPO_ENDPOINT#",
    "release_destination": "#RELEASE_DESTINATION#",
    "release_endpoint": "#RELEASE_ENDPOINT#"
  },
  "advanced": {
    "optimize": #OPTIMIZE#,
    "strip": #STRIP#,
    "debug": #DEBUG#
  }
}
